
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fjord One', serif, 'Roboto Condensed';
}
.hero {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
 }

@media (min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}
nav {
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

}
.logo {
    width: 4rem;
    height: 4rem;
    position: relative;
    margin:.5rem;
    cursor: pointer;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}

header nav li a span {
    width: max-content;
    text-align: center;
    list-style: none;
    padding-right:6rem;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-transform: none;
    display: inline-block;
    transition:color 0.7s ease-in-out;
    padding-bottom: 1.6rem;
    padding-top: 1rem;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    z-index: 1000;
  }
  
  /* Change background color when scrolled down */
header.scrolled{
    background-color: black;
    height: 5rem;
  }
.hamburger{
    overflow: hidden;
    display: none;
    cursor: pointer;
    z-index: 9999;
    margin-right: 2rem;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
    .nav-menu{
        overflow: hidden;
        position:fixed;
        z-index: 99;
        left: -150%;
        right:0;
        top: 0%;
        gap:0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #000000;
        width:70%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }
  }

.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: fill;
 }

@media (min-aspect-ratio: 16/9){
    .bg-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .bg-video{
        width: auto;
        height: 100%;
    }
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    flex-direction:column;
    /* flex-wrap: wrap; */
}
.content{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* margin-bottom: 1rem; */
    /* border: 2px solid white; */
    position: relative;

}
.content span{
    display: flex;
    align-items: center;
    justify-content: center;

}
.content p{
    display: block;
}
.content .text{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    font-size: 4rem;
    color:rgba(168, 139, 31, 0.951);
    font-weight: 600;
    width: max-content;

}
.text.first-text{
    margin-top: 4rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:white
}
.text.sec-text{
    margin-left: 1rem;
}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color:none;
    border-bottom: 2px solid rgba(168, 139, 31, 0.951); */
    animation: animate 4s steps(12) infinite;
}
@keyframes animate {
    40%,60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
    
}
.PIR{
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgba(179, 179, 179, 0.344);
    font-size: 1.8rem;
    font-weight: 600;
    /* margin-right: 7rem; */
    margin-top: 1rem;
    /* border: 2px solid white; */
}
.PIR p{
    padding: 0;
}
.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15.5rem;
    font-size: 1rem;
}
.cta{
    border-radius: 50px;
    margin-bottom: 4rem;
    margin-top: 2rem;
    margin-left: 14.5em;
    position: relative;
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: transparent;
    color:white;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

.cta:hover{
    background-color:  rgba(168, 139, 31, 0.951);
    color:black;
    border: 2px solid black;
    
}
.cta:active{
    background-color:  rgba(168, 138, 31, 0.406);
    color: white;
    border: 2px solid black;
}
.btn .cta a{
    font-size: 1.2rem;
}
.context{ 
    width: 100%;
    height: max-content;
    background-color:rgb(0, 0, 0);
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
}
.info{
    width: 50%;
}
.info .about{
    width: 50%;
    color: white;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-bottom: 1em;
    font-size: 2.2rem;
    font-weight: 600;
}
.heading2{
    width: 100%;
    color: white;
    padding-left: 6rem;
    font-size: 1.2em;
    padding-bottom: 1rem;
}
.description {
    font-size: 1.2em;
    width: 100%;
    color: grey;
    padding-left: 6rem;
    padding-bottom:1rem;
}
.score .cell p{
    font-size: 1.2em;
    width: 100%;
    color: grey;
    padding-left: 6rem;
    padding-bottom:1rem;
}
.extra{
    padding-bottom: 0;
    width: 50%;
    color: grey;
    padding-left: 6rem;
    font-size: 1.2em;
}
i{
    width: 50%;
    color: grey;
    display: flex;
    padding-left: 8rem;
 list-style-type: armenian;
}

.right-side-img{
    text-align: center;
    height: auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.side-img{
    /* display: inline-block; */
    width: 90%;
    height: 30%;
    object-fit: fill;
}

.countup-cont{
    background-color: rgba(72, 70, 70, 0.238);
    height: 15em;
    width: 100%;
    color: white;
    display: flex;
    background-image: url('imgs/random-img.jpg');   
}
.textComm{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2em;
}

.growth-container{
    width: 50%;
    height:100% ;
    /* margin-top: 2.5rem; */
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;        
}
.score{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
}
.score .cell{
    text-align: center;
    height: 5rem;
}
.score .cell h2{
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
}

.score .cell p{
    font-size: 1.2em;
    font-weight: 450;
    color: #a49e9e95;
    display: inline-block;
   padding-left: 5px;
}
.service{
    background-color: black;
    color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.service h1{
    margin-top: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.services-container{
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding: 0 35px; */
}


.services{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services .cell{
    border: .5px rgb(173, 167, 167) solid;
    width:500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
    gap: 1rem;
    
}

.services .cell img{
    width: 20%;
    margin-bottom: 3rem;
}
.services .title_n_txt{
    display: flex;
    justify-content: center;
    flex-direction: column;
    column-gap: 2rem;
}
.services .title_n_txt h2{
    color :#a88b1ff3;
}

.services .title_n_txt p{
    color : rgb(236, 230, 230);
    font-style: bold;
    align-self: center;
}


/* .cell img{
    width: 100px;
    height: fit-content;
    object-fit:fill;
    
} */
.services-container{
    max-width: 1100px;
    width: 100%;
    position: relative;
}
.services-container h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    /* margin: 30px 0 5px; */
}
.services-container .cell img{
    width: 100px;
}
.form-container{
    width: 100%;
    height: 70%;
    background-image: url('imgs/random-img.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.comp-details{
    width: 50%; 
    display: block;
}
.comp-details .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.comp-details h1{
    margin-bottom: 3rem;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}
.card{
    /* margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    line-height: 2em;
    margin-left: 2rem; */
    margin-top: 2rem;
    display: inline-block;
    line-height: 2em;
    /* margin-right: 1rem; */

}
.card h3{
    font-size: 1.5rem;
    font-weight: 600;
    /* margin-left: 4rem; */
    color: white;
}
.card p{
    font-size: 1.2rem;
    font-weight: 600;
    /* margin-left: 2.5rem; */
    color: rgb(145, 143, 143);
    /* margin-left: 4rem; */
    width: fit-content;
    padding:0;
}
.form{
    width: 40%; 
    margin-top: 3rem;
}
.inputBox label{
    color:#abaaaa;
    font-size: 1.1rem;
}
.form .inputBox{
    position: relative;
    width: 100%;
    margin-top: 20px;
    background-color: transparent;
}
.form .inputBox input{
    font-family: sans-serif;
    width: 100%;
    /* padding:5px 0; */
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #abaaaa;
    outline: none;
    background-color: transparent;
}

.form .inputBox textarea{
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
    resize: none;
    width: 100%;
    padding-top: 2rem;
    padding-inline: 1rem;
    margin: 20px 0;
    border: none;
    border: 2px solid #abaaaa;
    outline: none;
    background-color: transparent;
}
.inputBox input{
    font-size: 1.3rem;
    /* margin-bottom: 2.2rem; */
    color:white;
}
.all-in-one{
    height: 70%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: row;
}
.offer{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.offer h3{
    width: 100%;
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    
}
.offer .sub{
    margin-left: 3rem;
    font-size: 1rem;
    color: white;
    text-align: center;
}
.offer .sub .email{
    height: 2.2rem;
    width: 20rem;
    padding-left: 2rem;
    border-radius: 50px;
}
.sub button{
    background-color:  #a88b1ff3;
    color:black;
    height: 2.2rem;
    width: 7rem;  
    border-radius: 50px; 
}
.sub button:active{
    background-color:  rgba(168, 138, 31, 0.406);
    color: white;
}

.careers{
    width: 70%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    display: flex;
    margin-top: 5rem;
    flex-direction: row;
}
.title{
    margin-bottom: 1rem;
}
.title-container{
    display: flex;
    flex-direction: column;
}
.title{
    color: #ffffff;
    font-size: 1.5rem;
    margin-left: 10rem;
}
.careers button{
    background-color:  #a88b1ff3;
    color:black;
    height: 3rem;
    width: 13rem;
    margin-top: 1rem;
    margin-left: 10rem;
    margin-bottom: 2rem; 
    border-radius: 50px;
}
.careers button:active{
    background-color:  #a88a1fb8;
    color: #ffffff;
    border: 2px solid black;
}
.social-menu{
    margin-bottom: 5rem;
    margin-left: 5rem;
    width: max-content;
    align-items: end;
    justify-content: center;
    flex-direction: column;
}
.social-icon svg{
    margin-top:1rem;
}
footer{
    width: 100%;
    height: 4rem;
    background-color: rgb(28, 27, 27);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SERVICES */
.hero-section{
    color: white;
    /* position: relative; */
    background-color:none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
}
@keyframes fade-in-out {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}
.service-container{
    background-color: black;
    color: white;
    text-align: center;
    height: max-content;
    overflow: hidden;
}
.service-container h1{
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem 0 .5rem;
    
}
.packages{
    width: 100%;
    display: flex;
}  
.ribbon {
    position: relative;
    background-color: #8b0c03; /* Change this to the desired color */
    height: 40px;
  }
  
  .ribbon::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 100px 0 0;
    border-color: #000000f1 transparent transparent transparent; /* Change this to the desired color */
  }
  
  .ribbon::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 40px 100px 0 0;
    border-color:transparent  #000000f1 transparent transparent; /* Change this to the desired color */
  }
  
  .ribbon-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: 600;
  }
  
.starter{
    background-color: #ececec;
    color: black;
    padding-top: 1rem;
    display: inline-block;
    width: 25em;
    height: 38rem;
    vertical-align: middle;
    margin: .5rem 1rem 2rem 1rem;
    border-radius: 5%;
}
.starter h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0 2rem;
}
.starter ul{
    align-items: left;
    display:block;
    /* position: relative; */
}

.list-item li{
    font-weight: 500;
    margin-left: 8px;
    margin-bottom: 5px;
    display: flex;
    justify-content: flex-start;
    font-size: 1.3rem;
    border-bottom: 2px solid rgb(77, 75, 75);
    
}
.starter .enq-btn{
    margin-top: 15.6rem;
}
.starter .enq-btn button,.enq-btn2 button, .enq-btn3 button{
    border-radius: 50px;
}
.starter .enq-btn2{
    margin-top: 8.45rem;
}
.starter .enq-btn3{
    margin-top: 4rem;
}
.starter button{
    align-items: center;
    background-color:  rgba(168, 139, 31, 0.951);
    color:black;
    height: 3rem;
    width: 10rem; 
    font-size: 1.4rem;
    /* margin-top: 1rem;
    margin-left: 10rem;
    margin-bottom: 2rem; */
}
.starter button:active{
    background-color:  rgba(143, 113, 4, 0.847);
    color: #ffffff;
}
/* Extra Small Devices (phones) */
@media (max-width: 600px) {
    .bg-video{
        object-fit: cover;
    }
    .content .text{
        font-size: 3.5rem;
    }
    .PIR{
        font-size: 1.2rem;
        width:auto;
        margin-top: 1rem;
        align-items: center;
        margin-top: 2rem;
    }
    .info{
        width: 90%;
    }
    .extra{
        width: 90%;
    }
    .info .about, .heading2,.description,p,.extra{
        padding-left:1rem;
    }
    i{
        padding-left: 3rem;
    }
    .right-side-img{
        width: 100%;
        margin-bottom: 2rem;
    }
    .textComm{
        font-size: 2rem;
        padding-left: 1rem;
    }
    .score .cell h2{
        font-size: 1.5rem;
    }
    .score .cell p{
        font-size: 1rem;
    }
    .service h1{
        font-size: 2rem;
    }
    .services-container i:first-child{
    left:0;
    }
    .services-container i:last-child{
    right:0;}
    .form-container{
        flex-direction: column;
    }
    .comp-details h1{
        margin-top: 4rem;
    }
    .card{
        margin-top: 1rem;
    }
    .card h3{
        margin-left: 0;
    }
    .form{
        width: 80%;
    }
    .all-in-one{
        flex-direction: column;
    }
    .offer{
        width: 100%;
        text-align: center;
    }
    .offer h3{
        margin-left: 0;
    }
    .offer .sub{
        margin-left:0;
    }
    .offer .sub .email{
        margin-bottom: 1.5rem;
        width: 25rem;
    }
    .sub button{
        width: 8.5rem;
    }
    .careers{
        width:100%;
    }
    .title{
        margin-left:1rem;
    }
    .careers button{
        margin-left: 1rem;
        height: 3rem;
        width: 10rem;
        font-size: 1.2rem;
    }
    .social-menu{
        margin-left: 2rem;
    }
    .hero-section h1{
        font-size: 60px;
    }
}

/* Styles for screens between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
    .bg-video{
        object-fit: cover;
    }
    .PIR p{
        margin-top: 2rem;
        padding-left: 0;
    }
    .info{
        width: 90%;
    }
    .extra{
        width: 90%;
    }
    .info .about, .heading2,.description,p,.extra{
        padding-left:1rem;
    }
    i{
        padding-left: 3rem;
    }
    .right-side-img{
        width: 100%;
        margin-bottom: 2rem;
    } 
    .side-img{
        width: 50%;
        height: 10%;
    }
    .textComm h4{
        padding-left: 1rem;
    }
    .services-container i:first-child{
        left:0;
        }
        .services-container i:last-child{
        right:0;}
        .all-in-one{
            flex-direction: column;
        }
        .offer{
            width: 100%;
            text-align: center;
        }
        .offer h3{
            margin-left: 0;
        }
        .offer .sub{
            margin-left:0;
        }
        .offer .sub .email{
            margin-bottom: 1.5rem;
            width: 25rem;
        }
        .sub button{
            width: 8.5rem;
        }
        .careers{
            width:100%;
            align-items: center;
            justify-content: center;
        }
        .title{
            margin-left:1rem;
        }
        .careers button{
            margin-left: 1rem;
            height: 3rem;
            width: 10rem;
            font-size: 1.2rem;
        }
        .social-menu{
            margin-left: 5rem;
        }
  }

/* Styles for screens larger than 1024px */
@media (min-width: 1025px) {
    .offer .sub .email{
        margin-bottom: 1rem;
    }
  }